################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/VideoAktarim/bin
/VideoAktarim/obj/Debug
